---
layout: default
class: home
---

<div class="home">
  <div class="container-fluid mb-5">
    {%- if site.posts.size > 0 -%}
      <div class="row flex">
        {%- for post in site.posts -%}
        <div class="col-md-6 col-lg-4">
          <div class="card p-3 mb-4">
            <!-- {%- assign date_format = "%b %-d, %Y" -%} -->
            <h2>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h2>
            <!-- <span class="post-meta">{{ post.date | date: date_format }}</span> -->
              {{ post.excerpt }}

          </div>
        </div>
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
</div>
