---
layout: default
class: home
---

<div class="home">
  <div class="container-fluid mb-5">
    {%- if site.posts.size > 0 -%}
      <div class="row flex">
        {%- for post in site.posts -%}
        <div class="col-md-6 col-lg-4">
          <a href="{{ post.url | relative_url }}" class="link-card card">
            <div class="link-card--heading">{{ post.title | escape }}</div>
            <p>{{ post.excerpt }}</p>
          </a>
        </div>
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
</div>
