---
layout: default
---
<div class="post-banner pt-5 pb-1 mb-3">
  <div class="container-fluid mb-5">
    <div class="post-banner--title mt-6 p-4">
      <h1>{{ page.subtitle }}</h1>
      <h1 class="page-title">{{ page.title }}</h1>
    </div>
  </div>
</div>

<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-12">
      <div class="breadcrumbs mb-4"><a href="/">All stories</a></div>
      {{ content }}
    </div>
  </div>
</div>

<div class="kupu-glossary mt-5 py-5">
  <div class="container-fluid">
    {% if page.kupu %}
      <div class="row">
        <div class="col-12">
          <h2>He aha ēnā kupu?<br>
            What are those words?</h2>
          <ul>
            {% for kupu_name in page.kupu %}
              {% assign kupu = site.kupu | where:"slug", kupu_name | first %}
              <li>
                <h3>{{ kupu.title }}</h3>
                {{ kupu.content | markdownify }}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endif %}
  </div>
</div>
