---
layout: default
---
<div class="post-banner pt-5 pb-1 mb-3">
  <div class="container-fluid mb-5">
    <div class="post-banner--title mt-6 p-4">
      <h1>{{ page.subtitle }}</h1>
      <h1 class="page-title">{{ page.title }}</h1>
    </div>
  </div>
</div>

<div class="container-fluid mb-5">
  <div class="row">
    <div class="col-12">
      <div class="breadcrumbs mb-4"><a href="/">All stories</a></div>
      {{ content }}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h2>Kupu</h2>
      <div id="accordion">
        {% for kupu_name in page.kupu %}
          {% assign kupu = kupu_name %}
            {% for _kupu in site.kupu %}
              {% if _kupu.slug == kupu_name %}
                {% assign kupu = _kupu.title %}
              {% endif %}
            {% endfor %}


            <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#{{ kupu }}" aria-expanded="true" aria-controls="collapseOne">
                {{ kupu_name }}
              </button>
            </h5>
          </div>

          <div id="{{ kupu }}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              {{ kupu_content | markdownify }}
            </div>
          </div>
        </div>

        {% endfor %}
      </div>

      {% for kupu in site.kupu %}
        <li>
          <h2>{{ kupu.title }}</h2>
      <p>{{ kupu.content | markdownify }}</p>
        </li>
      {% endfor %}
    </div>
  </div>

</div>
