body.home {
  background-color: $brand-light-green;

  .home-hero {
    display: block;
    max-height: 90vh;
    margin: 0 auto;
  }


  .link-card {
    border: 1px solid $brand-green;
    color: $brand-green;
    padding: 1rem;
    text-decoration: none;
    &:hover {
      border-color: $brand-dark-orange;
      color: $brand-dark-orange;
      a {
        color: $brand-dark-orange;
      }
    }
    &--heading {
      font-size: 1.75rem;
      font-weight: bold;
    }
    a {
      text-decoration: none;
    }
  }
}
