.home-hero {
  display: block;
  max-height: 90vh;
  margin: 0 auto;
}

.home {


  &__work {
    background-color: $brand-light-grey;
  }

  &__technologies {
    background-color: $brand-dark-grey;
    color: white;
    a {
      color: $brand-light-green;
    }
  }

}

.page--home {
  margin-bottom: 0 !important;
  padding-top: 3rem !important;
}
