.home {
  &__work {
    background-color: $brand-light-grey;
  }

  &__technologies {
    background-color: $brand-dark-grey;
    color: white;
    a {
      color: $brand-light-green;
    }
  }

}

.page--home {
  margin-bottom: 0 !important;
  padding-top: 3rem !important;
}
